@import 'tailwindcss';

:root {
  --background: #06080c;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-tactic: var(--font-tactic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06080c;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
